.navPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  &__logo {
    margin-right: 177px;
  }
  &__center {
    display: flex;
    gap: 32px;
    list-style-type: none;
  }
  &__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 12px;

    &_sun {
      border: none;
      background: 0;
    }
  }
}
