.apiIcon {
  margin-bottom: 64px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    list-style: none;
    min-width: 992px;
    padding: 0;
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
  }
}
